body{
    background-color: #CCD9B8;
    font-family: 'Montserrat', sans-serif;
}

#MainTile{
    color: #87A658;
    position: relative;
    height: 100px;
    width: 100px;
    float: right;
    padding-right: 5%;
}

table.MainTitle{
    table-layout: auto;
    width: 100%;
    background-color: #F2F2F2;
}

#Logodiv{
    max-height: 10%;
}

#Logo{
    max-width: 50%;
    min-width: 200px;
}
@media only screen and (min-width: 870px){
    ul.Navigation{
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 2%;
        align-self: left;
    }

    #Navitem{
        display: inline;
        float: right;
        display: block;
        padding-left:5%;
        padding-right: auto;
        padding-bottom:10px;
        background-color: #F2F2F2;
        font-size: larger;
        font-weight: bolder;
    }
    #Navitem:hover{
        text-decoration: underline;
        color: #87A658;
    }
    div.navbar{
        display: none;
    }
    div.topnav{
        display: none;
    }
}
@media only screen and (max-width: 870px){
    div.Navigation{
        display: none;;
    }
     /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #E8E8E8;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #F2F2F2;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #F2F2F2;
    color: black;
  } 
}