body{
    background-color: #CCD9B8;
    font-family: 'Montserrat', sans-serif;
}

#MainTile{
    color: #87A658;
    position: relative;
    height: 100px;
    width: 100px;
    float: right;
    padding-right: 5%;
}

table.MainTitle{
    table-layout: auto;
    width: 100%;
}

#Logo{
    width: 100%;
}

